<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Bloco</title>
</head>
<body>
    <h1>Cadastro de Bloco</h1>
    <form action="/cadastra_bloco" method="post">
        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor" required><br>

        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br>

        <label for="classificao">Classificação:</label>
        <input type="text" id="classificao" name="classificao" required><br>

        <label for="coloracao">Coloração:</label>
        <input type="text" id="coloracao" name="coloracao" required><br>

        <label for="material">Material:</label>
        <input type="text" id="material" name="material" required><br>

        <label for="medida_bruta">Medida Bruta:</label>
        <input type="text" id="medida_bruta" name="medida_bruta" required><br>

        <label for="volume_bruto">Volume Bruto:</label>
        <input type="text" id="volume_bruto" name="volume_bruto" required><br>

        <label for="medida_liquida">Medida Líquida:</label>
        <input type="text" id="medida_liquida" name="medida_liquida" required><br>

        <label for="volume_liquido">Volume Líquido:</label>
        <input type="text" id="volume_liquido" name="volume_liquido" required><br>

        <label for="pedreira">Pedreira:</label>
        <input type="text" id="pedreira" name="pedreira" required><br>

        <label for="frente_pedreira">Frente Pedreira:</label>
        <input type="text" id="frente_pedreira" name="frente_pedreira" required><br>

        <label for="info">Informações Adicionais:</label>
        <textarea id="info" name="info" required></textarea><br>

        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep" required><br>

        <label for="frete">Frete:</label>
        <input type="text" id="frete" name="frete" required><br>

        <label for="localizacao">Localização:</label>
        <input type="text" id="localizacao" name="localizacao" required><br>

        <button type="submit" value=>Cadastrar</button>
    </form>
</body>
</html>