<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
</head>
<body>
    <form method="post">
        <label for="razao_social">Razão Social:</label>
        <input type="text" id="razao_social" name="razao_social" required><br>

        <label for="cnpj">CNPJ:</label>
        <input type="text" id="cnpj" name="cnpj" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required><br>

        <label for="telefones">Telefones (separados por vírgula):</label>
        <input type="text" id="telefones" name="telefones"><br>

        <label for="is_admin">É Admin:</label>
        <input type="checkbox" id="is_admin" name="is_admin"><br>

        <button type="submit" href="/" value="Cadastrar">Enviar</button>
    </form>
</body>
</html> 